.hawks span{color: #26282A;
    background-color: #E03A3E;}
.celtics span{color: white;
    background-color: #007A33;}
.cavaliers span{color: #041E42;
    background-color: #860038;}
.pelicans span{color: #C8102E;
    background-color: #0C2340;}
.bulls span{color: #000000;
    background-color: #CE1141;}
.mavericks span{color: #B8C4CA;
    background-color: #00538C;}
.nuggets span{color: #FEC524;
    background-color: #0E2240;}
.warriors span{color: #FFC72C;
    background-color: #1D428A;}
.rockets span{color: #C4CED4;
    background-color: #CE1141;}
.clippers span{color: #C8102E;
    background-color: #1D428A;}
.lakers span{color: #FDB927;
    background-color: #552583;}
.heat span{color: #000000;
    background-color: #98002E;}
.bucks span{color: #EEE1C6;
    background-color: #00471B;}
.timberwolves span{color: #9EA2A2;
    background-color: #0C2340;}
.nets span{color: #FFFFFF;
    background-color: #000000;}
.knicks span{color: #F58426;
    background-color: #006BB6;}
.magic span{color: #C4CED4;
    background-color: #0077C0;}
.pacers span{color: #002D62;
    background-color: #FDBB30;}
.sixers span{color: #ED174C;
    background-color: #006BB6;}
.suns span{color: #1D1160;
    background-color: #E56020;}
.blazers span{color: #000000;
    background-color: #E03A3E;}
.kings span{color: #63727A;
    background-color: #5A2D81;}
.spurs span{color: #C4CED4;
    background-color: #000000;}
.thunder span{color: #EF3B24;
    background-color: #007AC1;}
.raptors span{color: #000000;
    background-color: #CE1141;}
.jazz span{color: #F9A01B;
    background-color: #002B5C;}
.grizzlies span{color: #12173F;
    background-color: #5D76A9;}
.wizards span{color: #E31837;
    background-color: #002B5C;}
.pistons span{color: #C8102E;
    background-color: #1D42BA;}
.hornets span{color: #00788C;
    background-color: #1D1160;}
.sonics span{color: #FFC200;
    background-color: #00653A;}
