.footer{
    position:fixed;
    height: 8vh;
    width:100%;
    bottom: 0%;
    left: 0;
    /* border-top: 5px solid rgba(220, 20, 60, 0.555); */
    background-color: rgba(0, 0, 0, 0);
    z-index: 4;
    color: white;
    display:flex;
    justify-content:center;
    align-items: center;
}

.footer i{
    color:black;
    font-size: 34px;
    transition: all 0.5s;
    margin: 0vw 0.5vh;
}

.footer i:hover{
    color:rgb(41, 41, 41);
}


.coffee{
    height: 30px;
    padding: 4px;
    width: auto;
    border: black solid 2px;
    border-radius: 5px;
}


@media only screen and (max-width: 500px) {
    .footer i{
        display:none;
    }

    .page{
        height: 60vh;
    }
  }


